
 .content:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url('../images/periodictable.png');
    width: 100%;
    height: 800px;
    
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
  }
  
  .shadow {
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    background-color: navy;
    background: linear-gradient(navy, gray);
    margin-left: 200px;
   margin-right: 200px;
   height: 600px;
   border-radius: 10px;
 }
  .content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

h1 {
    font-size: 50px;
    font-family: 'Ribeye Marrow', cursive;
    text-align: center;
    color: white;
   padding-top: 20px;
}

button, .next-question {
  background-color: white;
  border: black;
  color: navy;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  margin: 0 auto;
  display: block;
  border-radius: 15px;
  margin-top: 50px;
    
}

h2, #rules {
  text-align: center;
  color: white;
  font-size: 35px;
  padding: 50px;
  
}

#timer, h3, #answers {
  text-align: center;
  color: white;
  font-size: 25px;
  padding: 10px;
}

.answer-button, .play-again-button {
  background-color: lightgoldenrodyellow;
  border: black;
  color: navy;
  width: 400px;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  margin: 0 auto;
  display: block;
  border-radius: 15px;
  margin-top: 20px;
}

.answer-button:hover {
  background-color: lightblue;
}
.answer-button, h2, h3, #timer, #answers, #rules, button {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h4, #answer-message {
  font-family: 'Ribeye Marrow', cursive;
  text-align: center;
  color: lightgoldenrodyellow;
  font-size: 40px;
}

img {
  display: inline-block;
  margin: 0 auto;
  display: block;
  padding: 20px;
  width: 150px;
  height: 150px;
}

/*Media Queries for iphone screens*/
@media screen and (max-width:768px) {
  .shadow {
    margin-left: 2px;
    margin-right: 2px;
  }
  h1 {
    font-size: 25px;
  }
  h2, h3, h4 {
    font-size: 20px;
  }
  .answer-button, .play-again-button {
    width: 200px;
    margin-top: 5px;
    font-size: 20px;
    
  }
}